.ant-image-preview-img {
  max-height: 100% !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

// header mobile
.ant-layout-header {
  background-color: $color-primary !important;
}
.ant-pro-global-header,
.ant-layout-header {
  height: 60px !important;
  filter: none;

  .header-caption,
  div,
  span,
  a {
    color: $color-white;
  }
}

.ant-layout-has-sider {
  .ant-layout-sider {
    background-color: $color-primary !important;

    a,
    span,
    i {
      color: $color-white !important;
    }
  }

  .ant-layout-sider:not(.ant-pro-sider-collapsed) {
    .ant-pro-sider-footer {
      overflow: auto;
    }

    .color-picker {
      text-align: center;
      .color-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 28px;

        .color-item {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: 1px solid $color-white;
          cursor: pointer;
          transition: 0.3s;
        }

        &:hover {
          .color-item {
            height: 22px;
            width: 22px;
          }
        }
      }
    }
  }

  .ant-layout-sider-children {
    & > div:nth-child(1) {
      overflow: hidden !important;

      &:hover {
        overflow: hidden auto !important;
      }
    }
  }
}

.ant-page-header-heading-title {
  color: transparent !important;
}

.ant-pro-page-container-children-container {
  padding: 0 16px !important;
}

.ant-page-header-heading {
  display: none !important;
}

.ant-tooltip-content {
  a {
    color: $color-white;
  }
}

.ant-menu-light {
  .ant-menu-item {
    padding-left: 10px !important;
  }

  .ant-menu-submenu {
    & > div > span.ant-menu-title-content {
      font-weight: bold;
    }
  }

  & > .ant-menu-item-only-child {
    font-weight: bold;
  }

  .ant-menu-submenu-title {
    a {
      color: $color-black;
    }
  }

  .ant-menu-submenu-selected {
    & > .ant-menu-submenu-title {
      background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
      color: $color-white !important;
      transition: none !important;

      a,
      span,
      div {
        transition: none !important;
        color: $color-white !important;
      }
    }
  }

  .ant-menu-item-selected {
    background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
    transition: none !important;

    a,
    span,
    div {
      color: $color-white;
      transition: none !important;
    }

    &:hover {
      color: $color-white;
    }
  }
}

// Content
.ant-layout-content {
  padding-inline: 20px !important;
}

.logo {
  max-width: 129px;
  height: 58px !important;
  margin-bottom: 1px;
  object-fit: cover;
}

.ant-table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.ant-menu-item-group-title {
  font-size: 15px !important;
  font-weight: 700;
  color: #222 !important;
}

.w-full {
  width: 100% !important;
}

// Customize scrollbar
/* WebKit-based browsers (Safari, Chrome) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

// ::-webkit-scrollbar-track {
//   background-color: #f5f5f5;
// }
