.ant-image-preview-img {
  max-height: 100% !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

// header mobile
.ant-layout-header {
  background-color: $color-primary !important;
}
.ant-pro-global-header,
.ant-layout-header {
  height: 60px !important;
  filter: none;

  .header-caption,
  div,
  span,
  a {
    color: $color-white;
  }
}

.ant-layout-sider {
  .ant-pro-sider-footer {
    overflow: auto;
  }

  .color-picker {
    text-align: center;
    .color-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;

      .color-item {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid $color-white;
        cursor: pointer;
        transition: 0.3s;
      }

      &:hover {
        .color-item {
          height: 22px;
          width: 22px;
        }
      }
    }
  }
}

.ant-page-header-heading-title {
  color: transparent !important;
}

.ant-pro-page-container-children-container {
  padding: 0 16px !important;
}

.ant-page-header-heading {
  display: none !important;
}

.ant-tooltip-content {
  a {
    color: $color-white;
  }
}

.ant-menu-light {
  .ant-menu-submenu-title {
    a {
      color: $color-black;
    }
  }

  .ant-menu-submenu-selected {
    & > .ant-menu-submenu-title {
      background-color: $color-primary !important;
      color: $color-white !important;
      transition: none !important;

      a,
      span,
      div {
        transition: none !important;
        color: $color-white !important;
      }
    }
  }

  .ant-menu-item-selected {
    background-color: $color-primary !important;
    transition: none !important;

    a,
    span,
    div {
      color: $color-white;
      transition: none !important;
    }

    &:hover {
      color: $color-white;
    }
  }
}

// Content
.ant-layout-content {
  padding-inline: 20px !important;
}

.logo {
  max-width: 129px;
  height: 58px !important;
  margin-bottom: 1px;
  object-fit: cover;
}

.ant-table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.ant-menu-item-group-title {
  font-size: 15px !important;
  font-weight: 700;
  color: #222 !important;
}
