.ant-image-preview-img {
  max-height: 100% !important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

// header mobile
.ant-pro-global-header {
  height: auto;
}

.ant-page-header-heading-title {
  color: transparent !important;
}

.ant-pro-page-container-children-container {
  padding: 0 16px !important;
}

.ant-page-header-heading {
  display: none !important;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: $color-primary !important;
  color: $color-white;
  transition: none !important;

  a,
  span,
  div {
    transition: none !important;
  }

  :hover {
    color: $color-white;
  }
}

.logo {
  max-width: 129px;
  height: 70px;
  object-fit: cover;
}

.ant-table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
